.modify {
    text-align: center;
    color: black;
    // position: relative;
    // top: 0;
    // bottom: 0;
    // width: 100%;
    display: flex;
    flex-direction: column;
    &-auth {
        // position: absolute;
        // top: 0;
        // bottom: 0;
        //height: 500;
        flex: 1;
        // width: 100%;
        background-color: $login-auth-background-color;
        &-form {
            margin-right: $user-info-label-width;
        }
        &-preInput {
            text-align: right;
            padding-right: 10px;
            width: $user-info-label-width;
            display: inline-block;
            vertical-align: top;
        }
    }
    .error-msg {
        @include error-msg();
    }
    &-user {
        width: $user-info-input-width;
    }
    &-password {
        width: $user-info-input-width;
    }
    &-checkpwd {
        width: $user-info-input-width;
    }
}
.required {
    color: #FF0000;
}
.forget{
    &:hover {
        color: $login-hover-text-color;
    }
}

.modify::before {
    @include login-background();
}

